form input{
    width: 100%;
    height: 25px;
    padding: 0 5px;
    margin: 0 4px 20px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;

}
textarea {
    width: 100%;
    height: 500px;
    padding: 4px 5px;
    margin: 4px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 6%;
    color: White;
    background-color: orangered;
    border-color: orangered;
    border-radius: 4px;
}